.electrical-component {
    padding: 4px 4px 0 4px;
    margin: 1px;
    width: 9rem;
    height: 10rem;
}

.image {
    height: 72%;
    width: 100%;
    padding: auto;
}

.title {
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    top: 0;
    bottom: 0;
}

@media(max-width:1300px) {
    .title {
        font-size: 0.7rem;
        font-weight: 200;
    }
}

@media(max-width:1100px) {
    .title {
        display: none;
    }
}

@media(max-width:900px) {
    .electrical-component {
        width: 6rem;
        height: 7rem;
    }
    .title {
        display: none;
    }
}

@media(max-width:500px) {
    .electrical-component {
        width: 4.5rem;
        height: 3rem;
    }
    .title {
        display: none;
    }
}